body{
  margin: 0;
  padding: 0;
  background-color: #edece9;
}

.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5px 30px;
  transition: 0.4s;
  height: 30px;
  width:30px;
}
.search-box:hover{
  border-bottom: 1px solid #8f9494;
  width: 300px;
}
.search-btn{
  text-decoration: none;
  float: right;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313942;
}

.search-txt{
  display: flex;
  padding: 0;
  width: 0px;
  border:none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  transition: .4s;
}
.search-box:hover > .search-txt{
  width: 240px;
}
